body {
  font-family: sans-serif;
}

div.col {
  border: 1px solid black;
  font-style: Helvetica;
  font-size: 30px;
  height: 60px;
  text-align: center;
}

.row {
  margin-bottom: 0px;
}

div.progress {
  background-color: red;
}

div.progress.determinate {
  background-color: blue;
}

div.x {
  background-color: rgb(124, 252, 0);
}

div.o {
  background-color: rgb(250, 128, 114);
}
